:root {
    --cor-2: #000000;
    --cor-1: #A10F00;
    --cor-0: #ffffff;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background-color: var(--cor-0);
    /*background: linear-gradient(to bottom, var(--cor-2), var(--cor-3));*/
    background-repeat: no-repeat;
    overflow: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    margin: 50px;
    width: 200px;
}

.mensagem {
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 12vh;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    background-color: #10c100;
}

.mensagem-começo {
    width: 0%;
    height: 100%;
}

.mensagem-animacao {
    transition: width 4s ease;
    width: 100%;
    background-color: #0faa01;
    ;

}

.mensagem-fechada-animacao {
    transition: width 4s ease;
    width: 100%;
    background-color: rgb(193, 0, 0);
    ;

}

.mensagem-fechada {
    transition: height 1s ease;
    height: 0vh;
}

.main {
    width: 350px;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}

#chk {
    display: none;
}

.signup {
    position: relative;
    width: 100%;
    height: 100%;
    transition: .8s ease-in-out;
    background: var(--cor-1);
    transform: translateY(-190px);
    border-top-left-radius: 60% 10%;
    border-top-right-radius: 60% 10%;
}

label {
    padding-top: 25px;
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

input {
    width: 60%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.btn_login {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: var(--cor-1);
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

.btn_cadastrar {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: var(--cor-1);
    background: var(--cor-0);
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

button:hover {
    scale: 1.1;
}

.login {
    height: 500px;
    background: var(--cor-0);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transform: translateY(-60px);
    transition: .8s ease-in-out;
    position: relative;
}

.login label {
    color: var(--cor-1);
    transform: scale(1.1);
    transition: .8s ease-in-out;
}

#chk:checked~.login {
    transform: translateY(370px);
    border-top-left-radius: 60% 10%;
    border-top-right-radius: 60% 10%;
    z-index: 1;
}

#chk:checked~.login label {
    transform: scale(.6);
}

.signup label {
    transform: scale(.6);
    transition: .8s ease-in-out;
}

#chk:checked~.signup {
    transform: scale(.6);
    transform: translateY(-620px);
    z-index: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

}

#chk:checked~.signup label {
    transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
    #chk:checked~.login {
        /* transform: translateY(-620px); */
        transform: translateY(370px);
    }

    #chk:checked~.signup {
        transform: scale(.6);
        /* transform: translateY(340px); */
        transform: translateY(-620px);
    }

    .login {
        height: 500px;
        ;
    }
}