* {
    margin: 0px;
    font-family: system-ui;

}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    min-height: 15vh;
    max-height: 110px;
    align-items: center;
    margin-bottom: 10px;
}

.moedas_usuario_mobile {
    display: none;
}

.moda_criar_servico {
    width: 600px;
    height: 300px;
    position: absolute;
    background-color: red;
    padding: 20px;
    border-radius: 10px;
    display: none;
}

.menuBurguer {
    display: none;
}

.sidebar {
    transition: 0.4s;
    position: absolute;
    background-color: #A10F00;
    width: 0%;
    height: 100vh;
    left: 0;
}

.ativado {
    transition: 0.4s;
    width: 80%;
}

.icon_ponto {
    margin-right: 2px;
    width: 20px;
    height: 20px;

}

.container_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-height: 110px;
}

.container_option_header {
    display: flex;
    font-size: 1.2em;
    align-items: center;

}

.container_option_header a {

    text-decoration: none;
    color: black;
}

.option_header {
    margin-right: 25px;
}

.moedas_usuario {
    display: flex;
    align-items: center;
}

.perfil_usuario {
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.container_banner {
    width: 100%;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    margin: 0px 0px 20px 0px;
}

.banner {
    width: 90%;
}

.adicionar_servico {
    border: white solid 1px;
    background-color: #A10F00;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.linha_horizontal,
.linha_vertical {
    transition: .5s;
    background-color: #ffffff;
    height: 5px;
    width: 25px;
    border-radius: 15px;
}

.linha_vertical {
    transform: rotate(90deg);
    margin-left: -50%;
    /* Ajuste para centralizar a linha vertical */
}

.adicionar_servico:hover {
    transition: .5s;
    scale: 1.1;
}

.adicionar_servico img {
    width: 65%;
}

.banner img {
    width: 100%;
}

.container_servicos {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo_servicos {
    font-size: 2em;
    border-bottom: 1px solid black;
    width: 90%;
}

.filtros {
    display: flex;
    justify-content: start;
    width: 90%;
    text-decoration: none;
    list-style: none;
}

.filtros li {
    margin: 10px;
    cursor: pointer;
}

.container_cards_servicos {
    width: 98%;
    margin: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card_servico {
    width: calc(100% / 5);
    min-width: 250px;
    height: 200px;
    padding: 10px;
    background: #F0E9E9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10px;
    cursor: pointer;
    box-shadow: -5px 5px 10px #646363;

}

.card_servico_detalhe {
    width: 250px;
    height: 200px;
    padding: 10px;
    background: #F0E9E9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    cursor: pointer;
    box-shadow: -5px 5px 10px #646363;

}

.card_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;

}

.titulo_servico {
    text-align: center;
}

.dono_servico {
    margin: 5px 0px;
    font-size: .8em;
}

.card_footer {
    width: 100%;
    height: auto;
    display: flex;
    font-size: 0.8em;
}

.respostas_servico {
    text-align: center;
    background-color: #A10F00;
    color: white;
    padding: 5px;
    font-weight: bold;
    width: 140px;
    height: 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moedas_servico {
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

/*pagina serviços------------------------------*/
.container_servico {
    display: flex;
    width: 100%;
    margin: 50px;
    padding-left: 50px;
}

.container_desc_servico {
    width: 60%;
}

.container_info_servico {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dados_servico {
    display: flex;
    justify-content: space-between;
    ;
}

.btn_desbloquear_servico {
    width: 250px;
    padding: 5px 0px;
    height: 32px;
    border: none;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #A10F00;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.btn_atualizar_usuario {
    width: 250px;
    height: 50px;
    border: none;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #ffffff;
    color: #A10F00;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    cursor: pointer;
}

.btn_cancelar_usuario {
    width: calc(95%/2);
    margin-right: 10px;
    height: 50px;
    border: none;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #ffffff;
    color: #A10F00;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    cursor: pointer;
}

.btn_salvar_usuario {
    width: calc(95%/2);
    height: 50px;
    border: none;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #189200;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    cursor: pointer;
}

.btn_servico_desbloqueado {
    width: 250px;
    padding: 5px 0px;
    height: 32px;
    border: none;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #189200;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn_servico_publicar {
    width: 250px;
    padding: 5px 0px;
    height: 32px;
    border: none;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #A10F00;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    margin: 10px 0px 50px 0px;
}

.btn_servico_publicar:hover {
    background-color: #bb3b2d;
}

.btn_desbloquear {
    padding: 5px;
    cursor: pointer;
}



/*shop -----------------------------------------------*/
.shop_options {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.opcoes_moedas {
    width: calc(90%/3);
    min-height: 200px;
    margin: 10px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #F0E9E9;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;

}

.opcoes_moedas:hover {
    transition: .3s;
    scale: 1.05;
    box-shadow: -3px 3px 10px black;
}

.opcoes_footer {
    display: flex;
    justify-content: space-between;
}

.quantidade_moedas {
    display: flex;
}

.shop_options .opcoes_body h5 {
    font-weight: 400;
    font-size: 1em;
}

.shop_titulo {
    margin: 15px 0px;
    width: 90%;
}

.moedas_banner {
    width: 90%;
    display: flex;
    justify-content: center;
}

.moedas_banner img {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*---- menu line -----*/
.menu-btn {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.bar {
    width: 25px;
    height: 4px;
    background-color: #333;
    margin: 2px 0;
    transition: 0.4s;
}

.change .bar:nth-child(1) {
    transform: rotate(-55deg) translate(-7px, 4px)
}

.change .bar:nth-child(2) {
    opacity: 0;
}

.change .bar:nth-child(3) {
    transform: rotate(50deg) translate(-6px, -5px);
}

.menu {
    display: none;
    /* Adicione estilos para o seu menu aqui */
}

/*------- perfil -------*/
.container-perfil {
    width: 100%;
    background-color: #A10F00;
    padding: 20px 0px;
    color: white;
}

.container-info-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.informacoes-perfil-selecionado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-atualizar_usuario {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containers-inputs {
    width: 100%;
}

.usuario-input {
    border-radius: 5px;
    height: 30px;
    width: 100%;
    outline-style: auto;
    margin: 5px 0px;
    color: black;
    background: white;
}

/*sidebar*/
.sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.sidebar_header {
    width: 90%;
    height: 30%;
    color: white;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.sidebar_header_img {
    height: 60%;
}

.sidebar_header h3 {
    margin-top: 15px;
}

.sidebar_body {
    margin-top: 20px;
    width: 100%;
    height: 70%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.container_options_sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.options_sidebar {
    box-sizing: border-box;
    width: 100%;
    background-color: #7B0D02;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-size: 1.5em;
    color: white;
    margin-top: 15px;
    padding: 10px 10px;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.options_sidebar::after {
    content: ' >';
    font-weight: bold;
}


.sidebar a {
    text-decoration: none;
}


.options_sidebar b {
    margin-left: 20px;
}

.btn_deslogar {
    background-color: white;
    color: #7B0D02;
    font-size: 1.5em;
    width: 120px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 10px;
}

/*perfil pj*/
.container_portifolio_perfil_provedor {
    width: 90%;
    margin-top: 30px;
}

.content_portifolio {
    background-color: gray;
    width: 30%;

}

.content_portifolio .img_portifolio img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    /* ou qualquer outro valor que desejar */
}

.nome_perfil_provedor {
    display: flex;
    justify-content: space-between;
}

.nome_perfil_provedor h3 {
    margin: auto 0px;
}

/*------- Mobile -------*/
@media(max-width: 750px) {

    header {
        min-height: 10vh;
        justify-content: center;
    }

    .moedas_usuario_mobile {
        margin: 0px;
        right: 0px;
        display: flex;
        align-items: center;
        border-radius: 15px;
        padding: 10px;
        box-shadow: inset 0 0 5px rgba(80, 80, 80, 0.733);
        margin-left: auto;
    }

    .container_header {
        justify-content: space-between;
        width: 90%;
    }

    .container_option_header {
        display: none;

    }

    .logo {

        margin-left: 0px;

    }

    .container_banner {
        min-height: 15vh;
        margin: 10px 0px;
    }

    .menuBurguer {
        display: block;
    }

    .container_servico {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 0px;
        align-items: center;
        margin-top: 10px;

    }

    .container_desc_servico {
        width: 100%;
    }

    .dados_servico {
        margin-top: 10px;
    }

    .container_info_servico {
        width: 100%;
    }

    .card_servico {
        margin-top: 20px;
        width: 90%;
        height: 190px !important;
    }

    .card_footer {
        display: flex;
        height: 50px;
        width: 100%;
        font-size: 0.8em;
        align-items: center;
        text-align: center;
        justify-content: space-between;
    }


    .shop_options {
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin: 10px 0px;
    }

    .opcoes_moedas {
        box-shadow: -1px 1px 6px black;
        height: 165px;
        width: 80%;
        min-height: 150px;
    }

    .shop_titulo h1 {
        font-size: 1.4em;
    }

    .shop_titulo h3 {
        font-size: 1em;
    }

    /*servico*/
    .info_servico {
        display: flex;
        justify-content: center;
        width: 100%;

        width: 100%;
    }

    .card_servico {
        width: 85% !important;
        padding: 15px 10px;
        margin: 15px 0px;
    }

    .card_servico_detalhe {
        width: 85% !important;
        padding: 15px 10px;
        margin: 15px 0px;
        height: auto !important;
    }

    .btn_desbloquear_servico {
        width: 90%;
    }

    .btn_servico_desbloqueado {
        width: 90%;
    }

    /*criar serviço*/

    .formulario_servico {
        margin-bottom: 20px;
        width: 100% !important;
    }

    .input_padrao {
        width: 100%;
    }

    .container_criar_servico {
        flex-direction: column;
    }

    .infos_extra {
        max-width: 100%;
    }

    /* pagina pj */
    .header_infos_perfil_provedor {
        flex-direction: column;
        align-items: center;
    }

    .img_infos_perfil_provedor {
        height: 100px;
        width: 100px;
    }

    .btn_editar_perfil_provedor button {
        width: 65px !important;
        height: 25px !important;
        margin: 5px;
    }

    /*perfil*/
    .container-atualizar_usuario {
        width: 90% !important;
    }

    .main {
        width: 90%;
    }
}